{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/l9m2_chestheader.png",
      "fileBody" : "/interface/chests/l9m2_chest144.png",
      "fileFooter" : "/interface/chests/l9m2_chestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [40, 198],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [32, 26]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 157],
      "dimensions" : [12, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [4, 43],
      "slotOffset" : 48,
      "dimensions" : [16, 6],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 234]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/l9m2_shine144.png",
      "position" : [0, 50]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [292, 251]
    }
  }
}
